@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
  }
}

/* Hide scrollbar globally for clean modern UI */
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

